body{
	background-color: #ADD8E6;
	font-family: monospace;
  color :#32CD32;
  background-color: black;
}
html, body {
  height: 100%;
}
.radio > input[type=radio]{
  margin-right:5px;
  margin-left:5px
}
.radio > label{
  margin-right:5px;
  margin-left:5px
}

.jumbotron{
  font-family: monospace;
  margin-top: 0%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
  background-color: #FF00FF; !important; 

}
.form-horizontal{
  visibility: hidden;
  font-size:1.5em;
}

.row{
	margin-top:10px;
}
.timer>i{
	visibility: hidden;
}
#resultHere{
  text-align: center;
  font-family: monospace;
  font-size: 1em;
  overflow-y: scroll;
}
#resultTbl{
text-align: center;

}
.well{
  text-align: left;
  padding-left: 0px;
}
.btn.btn-primary{
  background-color: #FF00FF;
}